@base-blue: steelblue;

@color-a: @base-blue;
@color-b: #5bb44e;
@color-c: #bec743;
@color-d: #cb8f2e;
@color-e: #cb5b23;
@color-f: #cb3532;
@color-g: #cb2565;
@color-h: #cb3fb4;
@color-i: #9735cb;
@color-j: #422fcb;
