@import '../styles/colors';

.columns-chart-container {
    position: relative;
    width: 100%;
    height: 400px;
}

.columns-chart {
    position: absolute;
}

.column_books, .chart-legend-columns__rect_books {
    fill: @color-a;
}
.column_laptops, .chart-legend-columns__rect_laptops {
    fill: @color-b;
}
.column_displays, .chart-legend-columns__rect_displays {
    fill: @color-c;
}
