@import '../styles/colors';

.pie-arc__section_books, .pie-arc__section_label-a {
    fill: @color-a;
}

.pie-arc__section_displays, .pie-arc__section_label-b {
    fill: @color-c;
}

.pie-arc__section_laptops, .pie-arc__section_label-c {
    fill: @color-j;
}

.pie-arc__section_motorcycles, .pie-arc__section_label-d {
    fill: @color-e;
}

.pie-arc__text {
    fill: black;
}
