@import '../styles/colors';

.pie-arc__section_books,
.pie-arc__section_label-a,
.pie-chart-legend__rect_books {
    fill: @color-a;
}

.pie-arc__section_displays,
.pie-arc__section_label-b,
.pie-chart-legend__rect_displays {
    fill: @color-c;
}

.pie-arc__section_laptops,
.pie-arc__section_label-c,
.pie-chart-legend__rect_laptops {
    fill: @color-j;
}

.pie-arc__section_motorcycles,
.pie-arc__section_label-d,
.pie-chart-legend__rect_motorcycles {
    fill: @color-e;
}

.pie-arc__text {
    fill: black;
}
