.line-chart-books__line-path {
    fill: none;
    stroke: none;
}

.line-chart__area {
    fill: #7ce4ff;
    stroke: none;
    opacity: 0.5;
}

.line-chart-books__area {
    fill: #2bb42a;
    stroke: none;
    opacity: 1;
}

.line-chart-laptops__line-path {
    fill: none;
    stroke: none;
}

.line-chart-laptops__area {
    fill: #e0cf42;
    stroke: none;
    opacity: 1;
}

@axis-color: #a1591e;

.chart-axis-short-domain {
    path, line {
        stroke: @axis-color;
    }
    text {
        fill: @axis-color;
    }
}

.chart-legend__rect_sales {
    fill: steelblue;
}

.chart-legend__rect_books {
    fill: #2bb42a;
}

.chart-legend__rect_laptops {
    fill: #e0cf42;
}
