@import '../../styles/colors';

@zoom-chart-axis-color: #787878;

.zoom-view__main-chart {
    width: 100%;
    height: 250px;
}
    .zoom-view__main-chart_brush-selection {
        height: 180px;
    }

.zoom-view__map-chart {
    width: 100%;
    height: 100px;
}

.zoom-view__axis, .zoom-view-line__axis {
    text {
        fill: @zoom-chart-axis-color;
    }
    path, line {
        stroke: @zoom-chart-axis-color;
    }
}

.zoom-view-line {
    &__line-path {
        fill: none;
        stroke: @base-blue;
        stroke-width: 1.5px;
    }

    &__line-path_glow {
        stroke-width: 5px;
    }

    &__area {
        stroke: none;
        fill: @base-blue;
        opacity: 0.5;
    }
}

.zoom-view__brush-selection {
    fill: #666;
    fill-opacity: 0.4;
}

.handle--custom {
    fill: #666;
    fill-opacity: 0.8;
    stroke: #000;
    stroke-width: 1.5;
    cursor: ew-resize;
}
