.gradient-line-chart__line-path {
    stroke: #7dc4ff;
    fill: none;
    stroke-width: 1.5px;
}

.gradient-line-chart__line-path_glow {
    stroke-width: 5px;
}

.gradient-line-chart__area {
    opacity: 1;
}

.gradient-line-chart-books__area {
    stroke: none;
    opacity: 1;
}

.gradient-line-chart-laptops__line-path {
    fill: none;
    stroke: none;
}

.gradient-line-chart-laptops__area {
    stroke: none;
    opacity: 1;
}

.gradient-chart-legend text {
    fill: gray;
}

.gradient-chart-legend__rect_sales {
    fill: steelblue;
}

.gradient-chart-legend__rect_books {
    fill: #2bb42a;
}

.gradient-chart-legend__rect_laptops {
    fill: #e0cf42;
}
